aiogram
aiohttp
aiosignal
async-timeout
asyncpg
attr
Babe
bs4
certifi
charset-normalize
environs
frozenlist
gino
idna
logzero
lxml
marshmallow
multidict
packaging
phonenumbers
pyparsing
python-dotenv
pytz
requests
SMSFly
SQLAlchemy
urllib3
yarl
